::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #32373c;
}

::-webkit-scrollbar-track {
  background-color: #141518;
}

.App {
  text-align: center;
  font-family: "Roboto Slab", serif;
  margin: 0;
}

h1 {
  font-weight: normal;
}

.topnav {
  height: 107px;
}

.topnav a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
  animation-name: text-focus-in;
  animation-duration: 1s;
}

.topnav a:visited {
  color: white;
}

.topnav a:hover {
  color: #141518;
  background-color: white;
}

.mobiletitle {
  display: none;
}

.mobiletitle h1 {
  text-decoration: none;
  text-align: center;
  margin: 0;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  padding: 4px 8px;
  transition: 0.3s;
  font-size: 48px;
}

.mobiletitle:visited {
  color: white;
}

.mobiletitle:hover {
  color: #141518;
  background-color: white;
}

.mobiletitle p {
  font-size: 24px;
  text-align: center;
  margin: 0 auto;
}

.title {
  float: left;
  text-decoration: none;
  margin-left: 8px;
  padding: 4px 8px 8px 8px;
  font-size: 24px;
  border-radius: 8px;
  color: white;
  transition: 0.3s;
}

.title:hover {
  background-color: white;
  color: #141518;
}

.title h1 {
  margin: 0;
}

.title p {
  font-size: 24px;
  text-align: center;
  margin: 0;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 28px;
  position: absolute;
  top: 24px;
  right: 20px;
  margin-right: 48px;
}

.navbar li {
  float: right;
}

.navbar a {
  display: block;
  padding: 8px;
  color: white;
  border-radius: 8px;
  margin-right: 8px;
}

.navbar a:hover {
  background-color: white;
  color: #141518;
}

.navimg {
  width: 36px;
  position: absolute;
  top: 32px;
  right: 28px;
}

.mobilenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  margin: 0 12px;
  font-size: 24px;
  display: none;
}

.mobilenav li {
  margin: 0 auto;
}

.mobilenav a {
  display: block;
  padding: 8px;
  color: white;
  border-radius: 8px;
}

.mobilenav a:hover {
  background-color: white;
  color: #141518;
}

.home {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-image: url(./photos/bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;

}

.gallery {
  color: white;
  padding-bottom: 24px;
}

.gallery h1 {
  margin: 0;
  padding: 24px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 24px;
}

.grid img {
  width: 100%;
  border-radius: 8px;
  border: 2px solid white;
  transition: 0.3s;
  cursor: pointer;
}

.grid img:hover {
  opacity: 0.8;
}

.close {
  position: absolute;
  top: 24px;
  right: 24px;
  color: white;
  font-size: 48px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 8px;
}

.close:hover {
  background-color: white;
  color: #141518;
}

.imagecontainer {
  background-color: #141518;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.image {
  width: 70%;
  margin: 0 auto;
  align-self: center;
}

.image img {
  border-radius: 8px;
  border: 2px solid white;
  width: 100%;
}

.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  transition: 0.3s;
  border-radius: 0 8px 8px 0;
  font-size: 40px;
}

.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  transition: 0.3s;
  border-radius: 8px 0 0 8px;
  font-size: 40px;
}

.prev:hover, .next:hover {
  color: #141518;
  background-color: white;
}

.about {
  color: white;
  padding-bottom: 24px;
}

.about h1 {
  margin: 0;
  padding: 24px;
}

@media (max-width: 1000px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .mobiletitle {
    display: block;
    font-size: 40px;
  }

  .topnav {
    height: 48px;
  }

  .navimg {
    display: none;
  }

  .title {
    display: none;
  }

  .navbar {
    display: none;
  }

  .navcontainer {
    width: 100%;
  }

  .mobilenav {
    display: flex;
  }
}

@media (orientation: portrait) and (max-width: 500px) {
    .grid {
    grid-template-columns: 1fr;
  }

  .image {
    width: 90%;
  }

  .prev, .next {
    display: none;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
